.hero-container{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 30px;
    text-align: center;
    gap: 30px;
    background: linear-gradient(to right, #0080ff, #4ca1af);
    min-height: 60vh;
    color: white;
}

.game-title{

    font-size: 3rem;
}

.game-description{

    font-size: 1.2rem;

}
